@keyframes fadeindown
  from
    opacity: 0
    transform: translateY(-250px)
  to
    opacity: 1
    transform: translateY(0)
// Данный класс срабатывает, когда мы нажимаем на меню бургер и этот класс добавляется к нашим li(a). Если этого класса не будет то анимация на наши li будут срабатывать после загрузки сайта, а не после нажатия на меню бурер
.fadeindown
    animation: fadeindown 1s ease-in-out
     
@media (max-width:947px)
    .overlay
        .modal
            width: 70%   
    
@media (max-width:768px)
    .header
        .container
            padding: 0
        .content
            .burger__menu
                display: block
                position: relative
                z-index: 3
                width: 35px
                height: 70px
                &::before,
                &::after,
                span
                    content: ''
                    position: absolute
                    right: 0
                    z-index: 0
                    width: 35px
                    height: 2px
                    background-color: $color_black-1
                    transition: all 0.25s
                &::before
                    bottom: 45px
                &::after
                    bottom: 25px
                span
                    bottom: 35px
            
                &.active::before
                    transform: rotate(45deg)
                    bottom: 35px

                &.active::after
                    transform: rotate(-45deg)
                    bottom: 35px

                &.active span
                    transform: scale(0)
            nav
                position: fixed
                top: 0          
                left: 0
                z-index: -1
                width: 100%
                height: 100%
                padding: 80px 15px 0 15px
                overflow: auto
                background: rgba(255, 255, 255, 0.9)
                transform: translateY(-100%)
                transition: ease-in-out 0.5s
                .list
                    position: relative
                    display: flex
                    flex-direction: column
                    z-index: -100
                    &__item
                        display: block
                        animation-delay: 1s 
                        padding: 10px 0
                        font-size: 30px
                        .list__link
                            animation: fadeindown 1s ease-in-out
                            &::after
                                width: 0
                                height: 0
                    .contact
                        &::after 
                            left: 155px
                            top: 24px
                        .list-contact
                            top: 50px
                            left: 0
                            width: 300px
                            padding: 10px 0 0 20px
                            text-align: left
                            background: none
                            border: none
                            a
                                font-size: 20px
                &.active
                    transform: translateY(0%)
                    .list__item
                        opacity: 1
                    .list__item:nth-child(1)
                        animation-delay: 0.02s
                    .list__item:nth-child(2)
                        animation-delay: 0.04s
                    .list__item:nth-child(3)
                        animation-delay: 0.06s
                    .list__item:nth-child(4)
                        animation-delay: 0.08s
                    .list__item:nth-child(5)
                        animation-delay: 0.1s
                    .list__item:nth-child(6)
                        animation-delay: 0.12s
    
    .promo
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../img/promo-bg-mobile.png") no-repeat
        background-position: 50% 50%
        background-size: 60%    
    
    .about
        .content
            .about-block
                grid-template-columns: repeat(1, 1fr)
                grid-template-rows: repeat(1, 1fr)

    .new-modals
        .content
            .carousel
                width: 70%
                height: 40%
                .slick-prev,
                .slick-next
                    left: -75px
                    img
                        width: 100px
                        height: 100px
                        border: none
                .slick-next
                    left: auto
                    right: -75px

    .overlay
        .modal
            width: 80%
            .close
                top: -6%
                right: 2%
    
    .comments
        .content
            padding: 100px 20px 50px 20px
            .comments-block
                padding: 15px 0
                &__img
                    display: none           

    .footer
        .content
            flex-direction: column
            .author
                max-width: 500px
                &__about
                    padding: 0 0 20px 0
            .contacts
                max-width: 500px
                padding: 0 0 50px 0
                &-links
                    &__item
                        img
                            width: 32px
                            height: 32px
                        span
                            position: absolute
                            top: 15%
                            left: 8.5%
        .back-up
            position: absolute
            bottom: 7%
            a
                img
                    position: absolute
                    right: -10%     

@media (max-width:618px)
    
    .promo
        background-size: 80%
        .content
            .title
                display: none
            .title_for_mobile
                display: block
                padding: 0px 0 15px 0

    .new-modals
        .content
            .carousel
                width: 100%
                height: 100%
                div
                    margin: 0
                    img
                        width: 100%
                        height: 100%
                        border: 1px solid $color_black-1
                        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
    
    .footer
        .content
            .contacts
                &-links
                    &__item
                        span
                            position: absolute
                            top: 15%
                            left: 9.5%
                            
@media (max-width:425px)
    .consultation-or-make-order
        .content
            .tabs
                .tabs__caption
                    flex-direction: column
                    li
                        width: 100%

    .footer
        .content
            .contacts
                &-links
                    &__item
                        span
                            position: absolute
                            top: 15%
                            left: 11.5%
        .back-up
            display: none
    
@media (max-width:375px)
    .overlay
        .modal
            width: 80%
            padding: 40px 20px
    
    .comments
        .content
            padding: 100px 0 20px 0

    .footer
        .content
            .contacts
                &-links
                    &__item
                        span
                            position: absolute
                            top: 15%
                            left: 13.5%